<!DOCTYPE HTML>
<html>
<head>
  <title>cadmia!</title>
  <meta charset="UTF-8">
  <meta name="description" content="trial paper generator! after i actually make it, that is">
  <meta name="author" content="cadmia">
  <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<header>
  <h1>✧･ﾟ: *✧･ﾟ:* cadmia *:･ﾟ*✧:･ﾟ✧</h1>
  <nav>
      <a href="/guide">guide</a>
      <a>status: in progress</a>
      <a href="https://discord.gg/ptCGsGBJCQ">join our discord!</a>
  </nav>
</header>

<body>
  <p>
    <div id="intro-1">
      welcome to cadmia!<br>
    </div>
    <div id="intro-2">
      cadmia is a (very) work-in-progress trial paper generator for maths extension 1<br>
    </div>
    <div id="intro-3">
      it's not finished yet ~ it'll probably be done around mid-june
    </div>
  </p>



  
</body>

</html>